span{
    color: orangered
}
.abutton{
    background: white;
    color: red;
    border: 1px solid orange;
    border-radius: 50px;
    text-decoration: none;
}
body{
    background-color:#eb6014;
    color: white;
    text-align: center;
    
}
h1{
    color: white;
    font-weight: bold;
    font-size: 60px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
#h1{
    color: white;
    font-size: 42px;
    
}
#p1{
    font-size: 20px;
    font-weight: bolder;
}

.formdiv{
    text-align: cent;
    border: 5px solid white;
    border-radius: 10px;
    width: 700px;
    height: 450px;
    margin: auto;
    display: ;
    justify-content: space-evenly;
    padding: 40px;
    
}
input{
    width: 30vw;
    height: 20px;
}
label{
    
}
textarea{
    height: 50px;
    width: 30vw;

}
.duty{
    text-align: center;
}
